.brand-logo {
  margin-left: 20px;
word-break:keep-all!important;
}

a{
  cursor: pointer;
}

.input-field input {
  border: none;
  font-size: 14px;
  opacity: 0.9;
  outline: none;
  width: 100px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.input-field input:hover { opacity: 1}

.input-field input:focus {
  opacity: 1;
  width: 18em;
  font-size: 16px;
  border-bottom: transparent;
  box-shadow: 0 0 0 0;
}

.input-field input[type=search] + label {
  top: -0.6rem !important;
}

li {
  margin-left: 2em;
  margin-right: 2em;
}

a.active {
  border-bottom: 2px #0d47a1 solid !important;
}

.tabs {
  margin-top: 2em;
  margin-bottom: 2em;
}

.tabs .tab a {
  color: #0d47a1 !important;
}

.tabs .tab a:hover {
  border-bottom: 2px #0d47a1 solid !important;
}

.tabs .tab a:hover {
  color: deepskyblue;
  border-bottom: 2px solid deepskyblue;
}


@media only screen and (max-width:991px) {

  .brand-logo{
    font-size: 20px !important;
  }

  li {
    margin-left: 1em;
    margin-right: 1em;
  }

  .input-field input:focus {
    opacity: 1;
    width: 10em;
    font-size: 14px;
  }


}

@media only screen and (max-width:450px) {

  .brand-logo{
    font-size: 15px !important;
  }

  li {
    margin-left: 0em;
    margin-right: 0em;
  }

}
