<nav class="indigo darken-1">
  <div class="nav-wrapper">

    <!-- Logo -->

    <a class="brand-logo left">Reckit</a>

    <!-- Right buttons -->

    <ul *ngIf="authService.isLoggedIn()" class="right">
      <li><a href=""><i class="material-icons">account_circle</i></a></li>
      <li><a (click)="deconnexion()"><i class="material-icons">power_settings_new</i></a></li>
    </ul>

    <!-- Search bar -->

    <div *ngIf="authService.isLoggedIn()" class="nav-wrapper right">
      <form>
        <div class="input-field">
          <input id="search" type="search" name="search" (keyup)="searchTags($event)" autocomplete="off"
                 materialize="autocomplete" placeholder="Recherche ..." [materializeParams]="[{'data': records}]"
                 (focus)="spaceActive=false" (blur)="spaceActive=true" search required>
          <label class="label-icon" for="search"><i class="material-icons center-block">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- Tabs -->

<div *ngIf="authService.isLoggedIn()" class="row">
  <div class="col s8 offset-s2">
    <ul class="tabs">
      <li class="tab col s4"><a [routerLinkActive]="['active']" [routerLink]="['/record-form/new']">Créer/Modifier</a></li>
      <li class="tab col s4"><a [routerLinkActive]="['active']" [routerLink]="['/news']">Actualités</a></li>
      <li class="tab col s4"><a [routerLinkActive]="['active']" [routerLink]="['/my-records']">Mes Enregistrements</a></li>
    </ul>
  </div>
</div>

