<li class="collection-item row">

  <!-- Name - Orator -->

  <span class="col s4" (click)="onRecordDetail()">{{record.name}}</span>

  <span class="col s2" (click)="onRecordDetail()">{{record.orator}}</span>

  <span class="col s2" (click)="onRecordDetail()">{{record.recorder}}</span>

  <!-- Type -->

  <span class="col s1" (click)="onRecordDetail()">{{record.type}}</span>

  <!-- Duration -->

  <span class="col s1" (click)="onRecordDetail()">{{prettyPrintDuration(record.duration)}}</span>

    <i *ngIf="record.validate" (click)="onEdit()" class="material-icons col s1">edit</i>
    <i *ngIf="!record.validate" class="material-icons col s1 red-text">clear</i>

      <!-- Remove button -->

    <i (click)="removeRecord()" class="material-icons col s1">delete</i>
</li>
