<li class="collection-item row">

  <!-- Name - Orator -->

  <span class="col s6" (click)="onRecordDetail()">{{record.name}} - {{record.oratorMail}}</span>

  <!-- Type -->

  <span class="col s2" (click)="onRecordDetail()">{{record.type}}</span>

  <!-- Duration -->

  <span class="col s2" (click)="onRecordDetail()">{{prettyPrintDuration(record.duration)}}</span>

  <!-- Edit button -->

  <i *ngIf="record.validate" (click)="onEdit()" class="material-icons col s1">edit</i>
  <i *ngIf="!record.validate" class="material-icons col s1 red-text">clear</i>

  <!-- Remove button -->

  <i (click)="removeRecord()" class="material-icons col s1">remove_circle</i>
</li>
