<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card indigo darken-1">
        <div class="card-content white-text">
          <span class="card-title center">Enregistrement audio validé</span>
          <br/>
          <p>L'enregistrement audio a bien été confirmé.</p>
          <p>Il sera diffusé sous peu.</p>
        </div>
        <div class="card-action">
          <a [routerLink]="['/authentication/login']"><i class="material-icons left">navigate_before</i>Retour</a>
        </div>
      </div>
    </div>
  </div>
</div>
