<div class="row">
  <span class="col s9">
    <i class="material-icons">local_offer</i><h4>{{selectedTag}}</h4>
  </span>
  <a *ngIf="currentUser.followedTags.indexOf(selectedTag) == -1" (click)="followTag()" class="btn col s3 indigo darken-1">Suivre</a>
  <a *ngIf="currentUser.followedTags.indexOf(selectedTag) != -1" (click)="unfollowTag()" class="btn col s3 indigo darken-1">Ne plus suivre</a>
</div>

<app-record-list *ngIf="selectedTag" [searchValue]="selectedTag" searchBy="tags"></app-record-list>
