<br>
<div class="container">
  <p align="center">Changer le mot de passe</p>
  <div class="row">
    <form class="col s12"  #resetPasswordForm="ngForm">
      <div class="row">
        <div class="input-field">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <button *ngIf="!resetPassword" class="btn indigo darken-1 waves-effect waves-light col s8 offset-s2" (click)="sendResetEmail()"><i class="material-icons right">send</i>Change password</button>
      <p *ngIf="resetPassword" class="col s12 center">Merci de vérifier vos mails pour changer votre mot de passe</p>

      <a class="col s4 margin link" [routerLink]="['/authentication/login']"><i class="material-icons left">navigate_before</i>Retour</a>
    </form>
  </div>
</div>

