<!-- Name - Type  -->

<div class="row">
  <h5 class="center">{{selectedRecord ? selectedRecord.name : ''}}</h5>
</div>

<div class="row frame">

  <div class="col s12">

    <!-- Duration  -->

    <h5 class="center">{{prettyPrintDuration(currentPlayingTime) + ' / ' +  prettyPrintDuration(selectedRecord.duration)}}</h5>

    <!-- Annotations -->

    <!-- Annotation bubbles -->
    <div *ngFor="let annotation of selectedRecord.annotations">
      <div *ngIf="showAnnotation(annotation)" [ngStyle]="{'left': (getAnnotationMarginLeft(annotation) - 125) + 'px'}" class="bubble">
        <p>{{annotation.content}}</p>
      </div>
    </div>
    <!-- Annotation lines -->
    <div *ngFor="let annotation of selectedRecord.annotations" class="line" [ngStyle]="{'left': getAnnotationMarginLeft(annotation) + 'px'}">
    </div>

    <!-- Waveform  -->

    <div class="row" #waveform>
      <div id="waveform"><i *ngIf="!wavesurfer.isPlaying()" (click)="playPause()" class="material-icons playButton">play_arrow</i>
        <i *ngIf="wavesurfer.isPlaying()" (click)="playPause()" class="material-icons playButton">pause</i></div>
      <div id="timeline"></div>
    </div>
  </div>

  <div class="col s7">



    <!-- Record comments -->
    <div class="row">
      <app-record-comment [selectedRecord]="selectedRecord"></app-record-comment>
    </div>

  </div>

  <div class="col s5 rightpanel">

    <div *ngIf="!showPDF">

      <!-- Attachment files  -->

      <div *ngIf="selectedRecord">
        <div *ngFor="let filename of selectedRecord.filenames; let i = index" class="row">
          <i class="material-icons col s1 offset-s1">attachment</i>
          <span class="col s8" [ngClass]="filename.endsWith('.pdf') ? 'clickable' : 'notclickable'" (click)="downloadPDF(filename)">{{filename}}</span>
          <i class="material-icons col s1 downloadbutton" (click)="downloadAttachment(filename)">file_download</i>
        </div>
      </div>

      <br/>

      <!-- Tags  -->

      <div *ngFor="let tag of selectedRecord.tags" class="row">
        <i class="material-icons col s1 offset-s1">local_offer</i>
        <span class="col s10 clickable" (click)="selectTag(tag)">{{tag}}</span>
      </div>
    </div>

    <!-- PDF container -->
    <i *ngIf="showPDF" (click)="showPDF = !showPDF" class="material-icons col s1 pdfBackButton">reply</i>
    <div id="pdfcontainer" *ngIf="showPDF"></div>

    <br>

  </div>

</div>

