.frame {
  margin-top:15px;
  border: 2px black solid;
}

.rightpanel {
  border-left: 2px black solid;
}

#waveform {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.downloadbutton {
  cursor: pointer;
}

.buttonPlay {
  background: transparent;
  box-sizing: border-box;
  width: 35px !important;
  height: 35px !important;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 18px 0 18px 30px;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2vh !important;
}

.buttonPlay.paused {
  border-style: double !important;
  border-width: 0px 0 0px 28px !important;
}

.buttonPlay:hover {
  border-color: transparent transparent transparent #404040 !important;
}

.notclickable {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

#pdfcontainer {
  height: 50vh !important;
  width: 100%;
}

