.frame {
  margin-top:15px;
  border: 2px black solid;
}

.rightpanel {
  border-left: 2px black solid;
}

#waveform {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.downloadbutton {
  cursor: pointer;
}

.iconButton {
  font-size : 50px !important;
  cursor: pointer;
}

.notclickable {
  pointer-events: none;
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

#pdfcontainer {
  height: 50vh !important;
  width: 100%;
}

.hide {
  display: none;
}

.bubble {
  position:absolute;
  background-color: #4E342E;
  color:white;
  padding: 0 25px;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  width: 250px;
  z-index: 999;
  margin-top: 110px;
  opacity: 0.8;
  text-align:center;
}

.bubble:after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 35px solid #4E342E;
  top: -35px;
  left: 100px;
}

.line {
  width:1px;
  height: 150px;
  position: absolute;
  z-index: 998;
  background-color: red;
  margin-top: 2px;
}
