<div class="row frame">

  <div class="col s7">

    <!-- Name - Type  -->

    <h5 class="left">{{selectedRecord ? selectedRecord.name : ''}}</h5>
    <h5 class="right">{{selectedRecord ? selectedRecord.type : ''}}</h5>


    <!-- PDF Container  -->
    <div id="pdfcontainer"></div>

  </div>

  <div class="col s5 rightpanel">

    <!-- Duration  -->

    <h5 class="center">{{selectedRecord ? prettyPrintDuration(selectedRecord.duration) : ''}}</h5>

    <!-- Waveform  -->

    <div class="row">
      <div id="waveform"></div>
      <a (click)="playPause()" class="buttonPlay col push-s5"
              [ngClass]="{'paused' : wavesurfer.isPlaying()}"></a>
    </div>

    <!-- Attachment files  -->
    <div *ngIf="selectedRecord">
      <div *ngFor="let filename of selectedRecord.filenames; let i = index" class="row">
        <i class="material-icons col s1 offset-s1">attachment</i>
        <span class="col s8" [ngClass]="filename.endsWith('.pdf') ? 'clickable' : 'notclickable'" (click)="showPDF(filename)">{{filename}}</span>
        <i class="material-icons col s1 downloadbutton" (click)="downloadAttachment(filename)">file_download</i>
      </div>
    </div>

    <br>

    <!-- Tags  -->

    <div *ngFor="let tag of tags" class="row">
      <i class="material-icons col s1 offset-s1">local_offer</i>
      <span class="col s10">{{tag}}</span>
    </div>

  </div>

</div>

