.frame {
  margin-top:15px;
  border: 2px black solid;
}

.rightpanel {
  border-left: 2px black solid;
}

#waveform {
  border-top: 2px black solid;
  border-bottom: 2px black solid;
}

.downloadbutton {
  cursor: pointer;
}

