ul {
  margin-top: 15px;
}

li {
  border-bottom: 1px solid grey !important;
}

.collection li:first-child {
  font-weight: bold;
}

.arrowdown {
  text-align: center;
  height: 20px;
  padding-top: 0;
  cursor:pointer;
}
