<div class="row">
  <div class="col s12">
    <ul class="collection">

      <li class="collection-item row">

        <!-- Name - Orator -->

        <span class="col s3">Titre</span>

        <span class="col s3">Orateur</span>

        <span class="col s2">Enregistreur</span>

        <!-- Type -->

        <span class="col s1">Type</span>

        <!-- Duration -->

        <span class="col s1">Durée</span>
      </li>

      <!-- An app-record-item for each record -->

      <app-record-item *ngFor="let record of records; let i = index" [record]="record"></app-record-item>

      <li class="collection-item row arrowdown" (click)="nextPage()">
        <i class="material-icons">keyboard_arrow_down</i>
      </li>

    </ul>
  </div>
</div>
