<!-- Loading -->

<div *ngIf="loadingService.isLoading" class="preloader-wrapper big active">
  <div class="spinner-layer spinner-blue-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div>
    <div class="gap-patch">
      <div class="circle"></div>
    </div>
    <div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

<!-- Uploading -->

<p *ngIf="loadingService.isUploading">Envoi du fichier : {{loadingService.uploadProgression}} %</p>

<div *ngIf="loadingService.isUploading" class="progress indigo lighten-4">
  <div class="determinate indigo darken-1" [ngStyle]="{'width' : loadingService.uploadProgression + '%'}"></div>
</div>
