<div class="col s12" id="questions">
  <a class="right" (click)="moreComments()" style="cursor: pointer">Voir plus de commentaires...</a>
  <div *ngFor="let comment of comments; let i = index" class="row card bubble">
    <div class="col s12">
      <div class="chip">{{comment.questioner}}</div>
      <span class="right dateTime">Le {{timestampToLocaleString(comment.date)}}</span>
      <p class="col s12 question" #annotationText>{{comment.textQuestion}}</p>
    </div>
    <a class="viewMore btn-floating halfway-fab waves-effect waves-light indigo darken-1" (click)="getAnswers(i)"><i class="material-icons">comment</i></a>
    <a *ngIf="comments[i]['answers']" (click)="moreAnswers(i)" class="col s12" style="text-align: right; cursor: pointer">Voir plus de réponses...</a>
    <div *ngFor="let answer of comments[i]['answers']" class="col s9 push-s3 answer">
        <p class="right col s12">{{answer.textAnswer}}</p>
        <span class="left dateTime">Le {{timestampToLocaleString(answer.date)}}</span>
        <div class="chip right">{{answer.answerer}}</div>
    </div>
      <input (focus)="focusInput()" (blur)="blurInput()" *ngIf="comments[i]['answers']" class="col s10 offset-s1" [(ngModel)]="comments[i]['tempAnswer']" type="text" placeholder="Répondre à la question..."/>
      <a class="btn-floating red lighten-2" *ngIf="comments[i]['answers']" id="reply" (click)="addReply(i)"><i class="material-icons">reply</i></a>
  </div>
</div>


<form>
  <div class="input-field col s12">
      <textarea (focus)="focusInput()" (blur)="blurInput()" id="ask" type="text" name="ask" class="materialize-textarea"
                [(ngModel)]="askaquestion" required>
      </textarea>
    <label for="ask">Poser une question...</label>
  </div>
  <a class="waves-effect waves-light btn col s3 indigo darken-1 right" (click)="addQuestion()">Envoyer</a>
</form>
