.materialize-textarea:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0d47a1 !important;
}

form {
  margin-top: 10em;
}

#questions {
  margin-bottom: 2.5em;
}

#question {
  margin-top: 1.5em;
  margin-bottom: 2em;
  font-size: 1.2em !important;
}

.btn-floating i {
  font-size: 0.9rem !important;
  line-height: 25px !important;
}

.btn-floating {
  height: 25px !important;
  width: 25px !important;
  line-height: 25px !important;
  margin-top: 20px !important;
  position: absolute !important;
  bottom: 3em !important;
  right: 9px !important;
}

.chip {
  margin-top: 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

h5 {
  margin-bottom: 20px;
}

/* label focus color */
input:focus {
  color: #0d47a1 !important;
}

/* label underline focus color */
input:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

#questions {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

input {
  margin-left: 25px !important;
  margin-top: 60px !important;
  margin-bottom: 40px !important;
}

.dateTime {
  margin-right: 5px !important;
  margin-top: 20px !important;
  margin-left: 5px !important;
  font-size: 0.7em !important;
}

#answers .dateTime {
  margin-left: 28% !important;
}

.btn-floating.halfway-fab {
  bottom: -12px !important;
  right: 50% !important;
}

.card {
  margin-bottom: 2em !important;
}

#answers .chip {
  margin-bottom: 1em;
}
