.materialize-textarea:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0d47a1 !important;
}

form {
  margin-top: 0em;
}

.btn-floating i {
  font-size: 0.9rem !important;
  line-height: 25px !important;
}

.btn-floating {
  height: 25px !important;
  width: 25px !important;
  line-height: 25px !important;
  left: 90% !important;
  bottom: 45px !important;
  position: absolute;
}

.chip {
  margin-top: 10px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.bubble .chip {
  background-color: #fff !important;
}

input {
  margin-left: 25px !important;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
}

/* label focus color */
input:focus {
  color: #0d47a1 !important;
}

/* label underline focus color */
input:focus {
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important;
}

#questions {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 5px 5px 10px;
}

/* width */
#questions::-webkit-scrollbar {
  width: 2px;
}

/* Track */
#questions::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#questions::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#questions::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bubble {
  position: relative;
  background-color: #E5E4E9;
  color: #363636;
  border-radius: .4em;
  margin-right: 2px;
}

.question {
  margin-top: 0.75em !important;
  font-size: 1em !important;
}

.dateTime {
  margin-right: 5px !important;
  margin-top: 20px !important;
  margin-left: 5px !important;
  font-size: 0.7em !important;
}

.answer {
  background-color: #2095FE;
  color: #fff;
  border-radius: 20px 20px 20px 20px;
  margin-top: 2em;
  margin-bottom: 3em;
  position: relative;
  box-shadow: #555555 2px 2px;
}

.answer:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-top-color: #2095FE;
  border-bottom: 0;
  border-right: 0;
  margin-left: -11px;
  margin-bottom: -22px;
}

.answer .dateTime {
  margin-left: 4% !important;
  margin-top: 0px !important;
  margin-bottom: .7em;
}

.answer .chip {
  margin-bottom: 1em;
  position: absolute;
  top: 95%;
  left: 50%;
}

.btn-floating.halfway-fab {
  bottom: -12px !important;
  left: 45% !important;
}

.card {
  margin-bottom: 2em !important;
  padding-right: 5px;
}
