<div class="row">
  <button class="btn indigo darken-4 col s2" (click)="reload()">Actualiser</button>
  <span class="new badge col s1 red lighten-2">{{nbNew}}</span>
  <!-- Dropdown Trigger -->
  <a materialize="dropdown" class='dropdown-button red lighten-2 btn col s4 right' data-beloworigin="true"
     data-activates='dropdownTags'>Les tags que je suis</a>
  <!-- Dropdown Structure -->
  <ul id='dropdownTags' class='dropdown-content'>
    <li *ngFor="let tags of currentUser.followedTags"><a [routerLink]="['/tag-detail/'+tags]">{{tags}}</a></li>
  </ul>
  <div class="recordNewsBlock col s12">
    <div *ngFor="let record of records" class="row recordNews card">
      <div class="col s7">
        <h5 class="col s12">Derniers commentaires</h5>
      </div>
      <div class="col s5 rightpanel">
        <img class="responsive-img"
             src="/assets/wavesurfer.png">
        <h5 class="center">{{record.name}}</h5>
        <h6 class="center">{{prettyPrintDuration(record.duration)}}</h6>
        <div class="col s12" *ngIf="record.tags.length != 0">
          <i class="material-icons hashtag">local_offer</i>
          <span class="tagText" *ngFor="let tag of record.tags; let i = index">{{tag}}{{i != record.tags.length - 1 ? ' , ' : ''}}</span>
        </div>
      </div>
      <a class="btn-floating halfway-fab waves-effect waves-light red lighten-2" [routerLink]="['/record-detail/'+record.key]"><i class="material-icons">remove_red_eye</i></a>
    </div>
  </div>
</div>

