<form class="row" #f="ngForm">

  <div ngModelGroup="recordData">

    <div class="col s9">

      <!-- Annotation bubbles -->
      <div *ngFor="let annotation of selectedRecord.annotations">
        <div *ngIf="showAnnotation(annotation)" [ngStyle]="{'left': (getAnnotationMarginLeft(annotation) - 125) + 'px'}" class="bubble">
          <p>{{annotation.content}}</p>
        </div>
      </div>

      <!-- Annotation lines -->
      <div *ngFor="let annotation of selectedRecord.annotations" class="line"
           [ngStyle]="{'display': temporaryMP3 ? 'block' : 'none','left': temporaryMP3 ? getAnnotationMarginLeft(annotation) + 'px' : '0px'}">
      </div>

      <div class="valign-wrapper">
        <div class="row" >
          <div id="waveform" class="card" #waveform></div>
          <div id="timeline"></div>
        </div>
      </div>


      <div class="row">

        <div class="col s6">
          <!-- Attachment file input -->
          <div class="btn indigo darken-1 file-field input-field col s6 addFileButton">
            {{selectedRecord.filenames.length + ' fichier(s)'}}
            <input type="file" id="file" name="file" (change)="getFiles($event)" multiple>
            <i class="material-icons left">attach_file</i>
          </div>

          <!-- Play/Pause button -->

          <i *ngIf="!wavesurfer.isPlaying()" (click)="playPause()" class="material-icons col s2 offset-s3 iconButton">play_arrow</i>
          <i *ngIf="wavesurfer.isPlaying()" (click)="playPause()" class="material-icons col s2 offset-s3 iconButton">pause</i>

        </div>

        <div class="col s6">

          <!-- Record button -->

          <a (click)="startStopRecording()" class="col s2 recButton"
             [ngClass]="isRecording ? 'Rec' : 'notRec'"></a>

          <!-- Annotations button -->

          <a class="btn indigo darken-1 offset-s4 col s6" (click)="showHide()"><i class="material-icons left">turned_in</i>{{annotationsVisible ? 'Propriétés' : 'Annoter'}}</a>
        </div>


      </div>

      <hr>

      <!-- Add Annotation -->
      <div [ngStyle]="{'display' : !annotationsVisible ? 'none' : 'block'}" class="col s12">
        <div class="input-field col s4 align">
          <i class="material-icons prefix">access_time</i>
          <input id="fixTime" type="text" name="fixTime"
                 [value]="prettyPrintDuration(annotationTime)" readonly required/>
          <label class="active" for="fixTime">Temps</label>
        </div>
        <div class="input-field col s8">
          <i class="material-icons prefix">edit</i>
          <textarea id="note" class="materialize-textarea" name="note" required  (focus)="spaceActive=false" (blur)="spaceActive=true" #newAnnotation></textarea>
          <label for="note">Ajouter une annotation</label>
        </div>

        <!-- Validate annotation -->
        <a class="btn red lighten-2 col s4 right margin" (click)="addAnnotation(newAnnotation)">Valider</a>


        <!-- Annotations list -->
        <div class="col s12">
          <div *ngFor="let note of selectedRecord.annotations; let i = index" class="row">
            <i class="material-icons col s1">collections_bookmark</i>
            <span class="col s1 pointer" (click)="playAtTime(note.time)">{{this.prettyPrintDuration(note.time)}}</span>
            <span class="col s7 push-s1 center" contenteditable="true" (click)="isEditing.indexOf(i) == -1 ? isEditing.push(i) : ''" #annotationText  (focus)="spaceActive=false" (blur)="spaceActive=true" >{{note.content}}</span>
            <i *ngIf="isEditing.indexOf(i) != -1" class="material-icons col s1 offset-s1 pointer green-text" (click)="updateAnnotation(i)">check</i>
            <i class="material-icons col s1 pointer right" (click)="deleteAnnotation(i)">delete</i>
          </div>
        </div>
      </div>


      <!-- Duration / name -->

      <div [ngStyle]="{'display' : annotationsVisible ? 'none' : 'block'}" class="col s12">
        <div class="row">
          <div class="input-field col s3">
            <i class="material-icons prefix">timer</i>
            <input id="duration" type="text" name="duration"
                   (ngModel)="selectedRecord.duration" [ngModel]="temporaryMP3 ? prettyPrintDuration(selectedRecord.duration) : prettyPrintDuration(annotationTime)" required readonly/>
            <label class="active" for="duration">Durée</label>
          </div>
          <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix">label_outline</i>
            <input id="name" type="text" name="name" (ngModelChange)="nameChanged($event)" [(ngModel)]="selectedRecord.name"  (focus)="spaceActive=false" (blur)="spaceActive=true" required/>
            <label class="active" for="name">Titre</label>
          </div>
        </div>


        <!-- Type / Orator mail -->

        <div class="row">
          <div class="input-field col s3 custom-select">
            <i class="material-icons prefix">unfold_more</i>
            <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="type"
                    name="type"
                    [(ngModel)]="selectedRecord.type">
              <option *ngFor="let option of selectOptions" [value]="option">{{option}}</option>
            </select>
            <label for="type">Type</label>
          </div>
          <div class="input-field col s5 offset-s3">
            <i class="material-icons prefix">mic_none</i>
            <input id="oratorMail" type="text" name="oratorMail" (keyup)="searchUsers($event)" autocomplete="off"
                   [(ngModel)]="selectedRecord.oratorMail"
                   materialize="autocomplete" [materializeParams]="[{'data': oratorList}]"  (focus)="spaceActive=false; searchUsers($event)" (blur)="spaceActive=true" email required/>
            <label class="active" for="oratorMail">Mail
              Orateur</label>
          </div>
        </div>
      </div>
    </div>


    <div class="col s3">

      <!-- Tags -->

      <div class="z-depth-2 card tagform">
        <div *ngFor="let tag of selectedRecord.tags; let i=index" class="row">
          <i class="material-icons col s1 offset-s1">local_offer</i>
          <span class="col s6 offset-s1">{{tag}}</span>
          <i class="material-icons col s1" (click)="deleteTag(i)">delete</i>
        </div>
        <div class="row input-field">
          <input placeholder="Ajouter un tag..." class="col s8 offset-s1" type="text" (keyup.enter)="addTag(newTagInput)"  (focus)="spaceActive=false" (blur)="spaceActive=true" #newTagInput/>
          <i class="material-icons col s2 addTagIcon" (click)="addTag(newTagInput)">add_box</i>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <!-- Attachment files -->

      <div *ngIf="selectedRecord.filenames.length != 0" class="fileform card">
        <div *ngFor="let filename of selectedRecord.filenames; let i = index" class="row">
          <i class="material-icons col s1 offset-s1">attach_file</i>
          <span class="col s6 offset-s1">{{filename}}</span>
          <i *ngIf="filename != selectedRecord.name + '.mp3'" class="material-icons col s1" (click)="deleteFilename(i)">delete</i>
        </div>
      </div>

      <br *ngIf="selectedRecord.filenames.length != 0">
      <hr *ngIf="selectedRecord.filenames.length != 0">
      <br *ngIf="selectedRecord.filenames.length != 0">

      <!-- Validation buttons  -->

      <a *ngIf="!selectedRecord.key" class="waves-effect waves-light btn col s10 red lighten-2"
         [ngClass]="{' disabled' : loadingService.isUploading}"
         type="submit" (click)="onCreate()">Créer</a>
      <a *ngIf="selectedRecord.key" class="waves-effect waves-light btn col s10 red lighten-2"
         [ngClass]="{' disabled' : loadingService.isUploading}"
         type="submit" (click)="onUpdate()">Modifier</a>

      <!-- Reset form button -->

      <i (click)="recordService.uneditRecord()" class="material-icons prefix col s2 resetForm">delete_sweep</i>

    </div>

  </div>

</form>

<button (click)="creer1RecordRandom()">Creer 1 record random</button>
