<form class="row" #f="ngForm">

  <div ngModelGroup="recordData">

    <div class="col s9">

      <!-- Waveform -->

      <div class="valign-wrapper">
        <div class="row">
          <div id="waveform" class="z-depth-2"></div>
        </div>
      </div>

      <!-- Duration / name -->

      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">timer</i>
          <input id="duration" type="text" name="duration"
                 [value]="prettyPrintDuration(recordService.temporaryDuration)" required readonly/>
          <label [ngClass]="{'active' : true}" for="duration">Durée</label>
        </div>
        <div class="input-field col s5 offset-s3">
          <i class="material-icons prefix">label_outline</i>
          <input id="name" type="text" name="name" [ngModel]="selectedRecord ? selectedRecord.name : ''" required/>
          <label [ngClass]="{'active' : selectedRecord != null && selectedRecord.name != ''}" for="name">Nom</label>
        </div>
      </div>

      <!-- Type / Orator mail -->

      <div class="row">
        <div class="input-field col s3 custom-select">
          <i class="material-icons prefix">unfold_more</i>
          <select materialize="material_select" [materializeSelectOptions]="recordService.selectOptions" id="type"
                  name="type"
                  [ngModel]="selectedRecord ? selectedRecord.type : defaultType">
            <option *ngFor="let option of recordService.selectOptions" [value]="option">{{option}}</option>
          </select>
          <label for="type">Type</label>
        </div>
        <div class="input-field col s5 offset-s3">
          <i class="material-icons prefix">mic_none</i>
          <input id="oratorMail" type="text" name="oratorMail" (keyup)="searchUsers($event)" autocomplete="off"
                 [ngModel]="selectedRecord ? selectedRecord.oratorMail : ''"
                 materialize="autocomplete" [materializeParams]="[{'data': oratorList}]" email required/>
          <label [ngClass]="{'active' : selectedRecord != null && selectedRecord.oratorMail != ''}" for="oratorMail">Mail
            Orateur</label>
        </div>
      </div>


      <div class="row">

        <!-- Attachment file input -->
        <div class="btn indigo darken-1 file-field input-field col s3 addFileButton">
          {{files.length == 0 ? 'Ajouter un fichier' : files.length + ' fichier(s)'}}
          <input type="file" id="file" name="file" (change)="getFiles($event)" ngModel multiple>
        </div>

        <!-- Play/Pause - Record buttons -->

        <button (click)="playPause()" class="buttonPlay col s1 offset-s2"
                [ngClass]="{'paused' : wavesurfer.isPlaying()}"></button>
        <button (click)="startStopRecording()" class="col s1 recButton"
                [ngClass]="isRecording ? 'Rec' : 'notRec'"></button>

        <!-- Annotations button -->

        <button class="btn indigo darken-1 offset-s2 col s3">Annoter</button>
      </div>
    </div>

    <div class="col s3">

      <!-- Tags -->

      <div class="tagform z-depth-2">
        <div *ngFor="let chip of tags; let i = index" class="row">
          <i class="material-icons col s1 offset-s1">local_offer</i>
          <span class="col s6 offset-s1">{{chip}}</span>
          <i class="material-icons col s1" (click)="deleteTag(i)">delete</i>
        </div>
        <div class="row input-field">
          <input placeholder="Ajouter un tag..." class="col s8 offset-s1" type="text" #newTagInput/>
          <i class="material-icons col s2 addTagIcon" (click)="addTag(newTagInput)">add_box</i>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <!-- Validation buttons  -->

      <a *ngIf="selectedRecord == null" class="waves-effect waves-light btn col s10 indigo darken-1"
         [ngClass]="{' disabled' : loadingService.isUploading}"
         type="submit" (click)="onCreate()">Créer</a>
      <a *ngIf="selectedRecord != null" class="waves-effect waves-light btn col s10 indigo darken-1"
         [ngClass]="{' disabled' : loadingService.isUploading}"
         type="submit" (click)="onUpdate()">Modifier</a>

      <!-- Reset form button -->

      <i (click)="recordService.uneditRecord()" class="material-icons prefix col s2 resetForm">delete_sweep</i>

    </div>

  </div>

</form>
