<div class="row">
  <div class="col s8">
    <div class="valign-wrapper">
      <app-recorder></app-recorder>
    </div>
  </div>

  <form class="col s4" #f="ngForm">
    <div class="row" ngModelGroup="recordData">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">label_outline</i>
          <input id="name" type="text" name="name" ngModel required/>
          <label [ngClass]="{'active' : selectedRecord != null && selectedRecord.name != ''}" for="name">Nom</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mic_none</i>
          <input id="oratorMail" type="text" name="oratorMail" (keyup)="searchUsers($event)" autocomplete="off" materialize="autocomplete" [materializeParams]="[{'data': oratorList}]" ngModel email required/>
          <label [ngClass]="{'active' : selectedRecord != null && selectedRecord.oratorMail != ''}" for="oratorMail">Mail Orateur</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">timer</i>
          <input id="duration" type="text" name="duration" [value]="prettyPrintDuration(recordService.temporaryDuration)" required readonly/>
          <label [ngClass]="{'active' : true}" for="duration">Durée</label>
        </div>
        <div class="input-field col s6 custom-select">
          <i class="material-icons prefix">unfold_more</i>
          <select materialize="material_select" [materializeSelectOptions]="recordService.selectOptions" id="type" name="type"
                  [ngModel]="defaultType">
            <option *ngFor="let option of recordService.selectOptions" [value]="option">{{option}}</option>
          </select>
          <label for="type">Type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">local_offer</i>
          <div class="chips" id="chips" materialize="material_chip" (chip.add)="add($event.detail)" (chip.delete)="delete($event.detail)" [materializeActions]="chipsActions" #chips></div>
          <label [ngClass]="{'active' : selectedRecord != null && selectedRecord.oratorMail != ''}" for="chips">Tags</label>
          <small *ngIf="this.chipsDiv.nativeElement.classList.contains('focus')" class="badge chipsEnter">Appuyez sur entrer pour valider</small>
        </div>
      </div>
    </div>
  </form>



  <div class="col s12">
    <a class="waves-effect waves-light btn col s3 offset-s1 indigo darken-1"
       [ngClass]="{' disabled' : selectedRecord != null || loadingService.isUploading}"
       type="submit" (click)="onCreate()">Créer</a>
    <span id="arrow_back" class="col s2 offset-s1" (click)="recordService.unselectRecord()"><i *ngIf="selectedRecord != null"
                                                                                                        class="material-icons prefix">delete_sweep</i></span>
    <a class="waves-effect waves-light btn col s3 offset-s1 indigo darken-1"
       [ngClass]="{' disabled' :selectedRecord == null || loadingService.isUploading}"
       type="submit" (click)="onUpdate()">Modifier</a>
  </div>
</div>
