<br>
<div class="container">
  <p align="center">S'authentifier</p>
  <div class="row">
    <form class="col s12" #loginForm="ngForm">
      <div class="row">
        <div class="input-field">
          <input id="email" name="email" type="email" class="validate" email ngModel required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="password" name="password" type="password" class="validate" ngModel required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <a class="col s8 offset-s2 link" [routerLink]="['/authentication/create-account']">Pas encore inscrit ? Créez un compte</a>
        <button class="btn indigo darken-1 waves-effect waves-light col s4 offset-s4 login" type="button" name="action" (click)="connexion()">
          Login
          <i class="material-icons right">send</i>
        </button>
      </div>
      <hr>
      <br>
      <div class="row">
        <button class="btn white waves-effect waves-light grey-text text-darken-1 col s8 offset-s2" type="button" name="action"
                (click)="connexionGoogle()"><img src="/assets/google.png" class="left responsive-img" style="height: 100%">Login avec Google
        </button>
      </div>

    </form>
  </div>
</div>
