.dropdown-content li > a, .dropdown-content li > span {
  color: #0d47a1 !important;
}

.autocomplete-content {
  position: absolute; z-index:30 !important;
}

html {
  min-width: 972px;
}

body {
  background-color: rgb(245, 245, 245);
}
